* 
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(16, auto);
}


.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1;
  padding: 0 40px;
}

.box2 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 2;
    padding: 0 40px;
}

.box3 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
    padding: 0 40px;
}

.box4 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 4;
    padding: 0 40px;
}

.box5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 5;
    padding: 0 40px;
}

.box6 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 6;
    padding: 0 40px;
}

.box7 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 7;
    padding: 0 40px;
}

.box8 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 8;
    padding: 0 40px;
}

.box9 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 9;
    padding: 0 40px 40px 40px;
}

.box10 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 10;
    padding: 0 40px;
}
.box11 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 11;
    padding: 0 40px;
}
.box12 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 12;
    padding: 0 40px;
}
.box13 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 13;
    padding: 0 40px;
}
.box14 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 14;
    padding: 0 40px;
}
.box15 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 15;
    padding: 0 40px;
}
.box16 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 16;
    padding: 0 40px;
}



.logo
{
    width: 160px;
}



.top-navigation {
    display: flex;
    align-items: center;
    height: 80px;
    background-color: #85A9C9; 
    
}

.navigation-list
{
    list-style-type: none;
    margin: 0 0 0 64px;
}

.navobj {
    float: left;
    margin: 0 20px 0 0;
    display: inline;   
    margin-right: 40px;
}

.navlink {
    display: block;
    color: #fff;
    text-decoration: none;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;  
}
.navlink:hover {
    color: #333652;
    font-weight: 700;
   
}
.navlink:hover:not(.active){
    font-weight: 700;
}
.navlink:active{
    font-weight: 700;
    color: #333652;
}


.container-main-section {
    display:flex;
    background-color: #fff;
    margin-top: 40px ;
    margin-bottom: -36px;
}

.organization
{
    font-family: Roboto;
    font-weight: 700;
    font-size: 22px ;
    color: #333652;
    margin-top: 90px;
}

.advertisement-phrase
{
    font-family: Montserrat;
    font-weight: 700;
    color: #333652;
    margin-top: 40px;
    font-size: 52px ;
    
}

.usual-text-of-main-section
{
    font-family: Roboto;
    font-weight: 400;
    font-size: 26px ;
    color: #333652;
    margin-top: 40px;
    width: 600px;
}

.consultation-button
{
    background-color: #333652;
    color: #fff;
    font-size: 26px ;
    font-family: Montserrat;
    
    border-color: transparent;
    margin-top: 40px;
    width: 300px;
    height: 64px;
    border-radius: 14px;
}

.consultation-button:hover
{
    color: #333652;
    background-color: transparent;
    border-color: #333652;
    border-style: solid;
    border-width: 4px;

}

.about-us-section
{
    background-color: #85A9C9;
    height: 560px;

}



.section-title
{
    font-size: 36px ;
    font-family: Montserrat;
    font-weight: 400;
    color: #333652;
    padding-top: 40px;
}

.usual-text
{
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px ;
    color: #333652;
    margin-top: 26px;
}

.map-image-box
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-image
{
    margin-top: 20px;
    width: 360px;
}


.our-cons
{
    margin-top: -20px;
    background-color: transparent;
    display: flex;
    gap: 80px;  
    justify-content: center;
    align-items: center;
}

.text-ex-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/whiteSticker.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 380px;
    height: 440px; 
}

.sticker-text
{
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px ;
    color: #333652;
    width: 260px;
    text-align: center;
}

.container-courses
{ 
    margin-left: 40px;
    margin-right: 40px;
}


.boxes-general{
    height: 580px;
    background-color: transparent;
    border-color: #333652;
    border-style: solid;
    border-radius: 18px; 
    padding-top: 30px ;

}

.tittle-box {
    color: #333652;
    text-align: center;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
}
.level-text-1
{
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px ;
    color: #46A126;
    text-align: center;
}
.level-text-2
{
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px ;
    color: #E29A2E;
    text-align: center;
}
.level-text-3
{
    font-family: Roboto;
    font-weight: 700;
    font-size: 32px ;
    color: #C8102E;
    text-align: center;
}
.group-of-boxes {
    display: flex;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 60px;
    margin-top: 60px;
    justify-content: center;
    align-items: center;
}

.flag-image
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.text-about-course
{
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px ;
    color: #333652;
    margin-left: 40px;
    margin-top: 12px;
}

.price-of-course
{
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px ;
    color: #C8102E;
    margin-left: 40px;
    margin-top: 10px;
}

.sign-button
{
    background-color: #608CB2;
    color: #fff;
    font-size: 26px ;
    font-family: Montserrat;
    
    border-color: transparent;
    margin-top: 40px;
    width: 300px;
    height: 64px;
    border-radius: 14px;
}

.sign-button:hover
{
    color: #608CB2;
    background-color: transparent;
    border-color: #608CB2;
    border-style: solid;
    border-width: 4px;

}

.button-container
{
    justify-content: center;
    align-items: center;
    display: flex;
}

.teachers-section
{
    background-color: #85A9C9;
    display: flex;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.text-image{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/whiteSticker.png');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 380px;
    height: 440px; 
    margin-top: -20px;
}



.sticker-teachers-text
{
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px ;
    color: #333652;
    width: 260px;
}

.photo-name-teacher
{
    display: inline-flex; 
    justify-content: center; 
    align-items: center;
    margin-bottom: 16px;
}

.teacher-name
{
    width: 200px;
    margin-left: 24px;
}

.comment-container
{
    background-color: #85A9C9;
    margin-top: 40px;
    border: #85A9C9;
    border-style: solid;
    border-radius: 24px 24px 24px 8px; 
    width: 60%;
    padding: 14px;
    
}

.comment-text
{
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px ;
    color: #333652;
}
.about-us-div{
    display: flex;
}
.name-input
{
    width: 100%;
    color: #333652;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    background-color: #E8E9EB;
    border-color: transparent;
    padding: 14px;
    border-radius: 16px; 
    margin-top: 40px;
}

.comment-input
{
    width: 100%;
    color: #333652;
    font-family: Roboto;
    font-weight: 400;
    font-size: 24px;
    background-color: #E8E9EB;
    border-color: transparent;
    padding: 14px;
    border-radius: 16px;
    margin-top: 30px;
    height: 120px;
    text-align: left;
    vertical-align: top; 
    overflow-wrap: break-word;
    
}

textarea 
{
    resize: none;
}

.send-button
{
    float: inline-end;
}


.contacts-information
{
    background-color: #85A9C9;
    height: 300px;
    margin-top: 60px;
    padding-top: 40px;
}

.contacts-text
{
    font-family: Roboto;
    font-weight: 400;
    color: #333652;
    margin-top: 10px;
    font-size: 30px ;
}

input:focus
{
    background-color: transparent;
    border-color: #333652;
}

textarea:focus
{
    background-color: transparent;
    border-color: #333652;
}


@media screen and (max-width: 1375px) 
{
    .wrapper{
        width: 100%;
    }

    .mainPicture{
        width: 600px;
        height: 600px;
    }
      
    .about-us-div1{
        margin-right: 30px;
    }

    .group-of-boxes {
        grid-template-columns: 380px 380px 380px;
        gap: 60px;
        margin-top: 60px;
    }

    .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16 {
        padding: 0px, 20px;
    }

    .container-main-section {
        margin-top: 30px ;
    }

    .organization {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1330px) 
{
    .wrapper{
        width: 100%;
    }

    .box1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 1;
        width: 100%;
    }

    .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16 {
        padding: 0px, 10px;
    }

    .about-us-div1{
        margin-right: 40px;
    }

    .mainPicture{
        width: 540px;
        height: 540px;
    }

    .group-of-boxes {
        grid-template-columns: 360px 360px 360px;
        gap: 60px;
        margin-top: 60px;
    }

    .teachers-section {
        grid-template-columns: 360px 360px 360px;
        gap: 40px;
    }

    .our-cons{
    margin-top: -20px;
    gap: 40px;  
    }
      
    .text-ex-image{
        width: 360px;
        height: 420px; 
    }

    .container-main-section {
        margin-top: 20px ;
    }

    .consultation-button {
        margin-top: 30px;
        width: 280px;
        height: 60px;
        border-radius: 14px;
    }

    .organization {
        font-size: 20px;
        margin-top: 40px;
    }

    .section-title {
        font-size: 32px;
        padding-top: 36px;
    }

    .contacts-information {
        height: 300px;
        margin-top: 40px;
        padding-top: 30px;
    }

    .about-us-div2{
        width: 90%;

    }

    .about-us-section {
        width: 100%;
    }

    .contacts-text {
        font-size: 26px;
    }
}

@media screen and (max-width: 1280px) {
    .wrapper{
        width: 100%;
    }

    .box1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 1;
        width: 100%;
    }

    .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16 {
        padding: 0px, 6px;
    }

    .mainPicture{
        width: 500px;
        height: 500px;
    }

    .advertisement-phrase {
        margin-top: 30px;
        font-size: 46px;
    }

    .usual-text-of-main-section {
        font-size: 24px;
        margin-top: 30px;
    }

    .consultation-button {
        margin-top: 30px;
        width: 240px;
        height: 58px;
        border-radius: 12px;
        font-size: 24px;
    }

    .usual-text {
        font-size: 22px;
        margin-top: 24px;
    }

    .about-us-div2{
        width: 100%;
    }

    .about-us-div1{
        margin-right: 20px;
    }

    .sticker-text {
        font-size: 22px;
    }

    .sticker-teachers-text {
        font-size: 22px;
    }

    .tittle-box {
        font-size: 28px;
    }
    .level-text-1 {
        
        font-size: 28px;
    }

    .level-text-2 {
        
        font-size: 28px;
    }

    .level-text-3 {
        
        font-size: 28px;
    }

    .sign-button {
        font-size: 22px;
        width: 260px;
        height: 60px;
    }

    .boxes-general {
        height: 560px;
    }

    .comment-text {
        font-size: 20px;
    }

    .name-input {
        font-size: 20px;
        margin-top: 30px;
    }

    .comment-input {
        
        font-size: 20px;
        
    }

    .contacts-text {
        font-size: 20px;
    }

    .contacts-information {
    height: 260px;
    margin-top: 60px;
    padding-top: 40px;
    }
}

@media screen and (max-width: 1240px) {

    .wrapper{
        width: 100%;
    }

    .box1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 1;
        width: 100%;
    }

    .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16 {
        padding: 0px, 6px;
    }

    .group-of-boxes {
        grid-template-columns: 360px 360px 360px;
        gap: 40px;
        margin-top: 40px;
    }
}

@media screen and (max-width: 1220px) {

    .wrapper{
        width: 100%;
    }

    .box1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 1;
        width: 100%;
    }

    .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16 {
        padding: 0px, 6px;
    }

    .group-of-boxes {
        grid-template-columns: 340px 340px 340px;
        gap: 36px;
        margin-top: 40px;
    }

    .teachers-section {
        grid-template-columns: 340px 340px 340px;
        gap: 36px;
    }
}

@media screen and (max-width: 1194px) {

    .wrapper{
        width: 100%;
    }

    .box1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row: 1;
        width: 100%;
    }

    .box1, .box2, .box3, .box4, .box5, .box6, .box7, .box8, .box9, .box10, .box11, .box12, .box13, .box14, .box15, .box16 {
        padding: 0px, 6px;
    }

    .group-of-boxes {
        grid-template-columns: 320px 320px 320px;
        gap: 30px;
        margin-top: 40px;
    }

    .teachers-section {
        grid-template-columns: 320px 320px 320px;
        gap: 30px;
    }

    .text-image{
        width: 320px;
        height: 400px; 
    }

    .teacher-image{
        width: 25%;
    }

    .sticker-teachers-text {
        font-size: 20px;
        width: 200px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 1164px) {

    .advertisement-phrase {
        margin-top: 36px;
        font-size: 44px;
    }

    .usual-text-of-main-section {
        font-size: 22px;
        margin-top: 36px;
        width: 500px;
    }

    .container-main-section {
        height: 100%;
        margin-top: 30px ;
        margin-bottom: -36px;
    }

}

@media screen and (max-width: 1130px) {
    .container-main-section {
        display:block;
    }

    .main-items{
        display: grid;
        place-items: center;
        text-align: center;
    }

    .mainPicture{
        width: 460px;
        height: 460px;
    }

    .main-image-div{
        justify-content: center;
        align-items: center;
        display: flex;
        margin-top: 20px;
    }

    .our-cons {
        display: grid;
        place-items: center;
        text-align: center;
    }

    .teachers-section {
        display: grid;
        place-items: center;
        grid-template-columns: auto;
    }

    .group-of-boxes {
        display: grid;
        place-items: center;
        grid-template-columns:  auto;
    }

    .logo {
        width: 120px;
    }

    .navlink {
        font-size: 18px;
    }
   
    .map-image {
        width: 280px;
    }

    .about-us-div{
        display: block;
    }

    .about-us-section{
        height: auto;
        padding-bottom: 40px;
    }
}

@media screen and (max-width: 894px) {

    .logo {
        display: none;
    }

}

@media screen and (max-width: 774px) {

    .navlink {
        font-size: 16px;
    }

    .usual-text-of-main-section {
        
        font-size: 20px;
        margin-top: 30px;
    }

    .consultation-button {
        margin-top: 30px;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
    }

    .sign-button {
        margin-top: 30px;
        width: 200px;
        height: 50px;
        border-radius: 10px;
        font-size: 20px;
    }

    .boxes-general {
        height: 540px;
        border-radius: 14px;
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .section-title {
        font-size: 28px;
        padding-top: 30px;
    }

    .comment-text {
        font-size: 16px;
    }

    .name-input {
        font-size: 16px;
        margin-top: 26px;
    }

    .comment-input {
        font-size: 16px;
        margin-top: 26px;
    }

    .contacts-text {
        font-size: 16px;
    }

    .usual-text {
        font-size: 18px;
        margin-top: 20px;
    }
}
@media screen and (max-width: 728px) {
    .navigation-list {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
    }
}

@media screen and (max-width: 664px) {
    .navigation-list {
        display: none;
    }
       
    .logo {
        display: block;
    }
    
}

@media screen and (max-width: 562px) {
    .mainPicture{
        width: 400px;
        height: 400px;
    }

    .usual-text-of-main-section {
        font-size: 18px;
        display: flex;
        width: 100%;
    }
}

@media screen and (max-width: 424px) {
    .mainPicture{
        width: 360px;
        height: 360px;
    }

    .boxes-general {
        padding-bottom: 30px;
        height: 570px;
    }
}

